body {
background-image: radial-gradient(#3b3a30, #69DD55, #BBDDFF);
  /*background-color: #69DD55;*/
}

header {
  font-family: Arial, Helvetica, sans-serif;
  color: #BBDDFF;
  background-color: #3b3a30;
  text-align: center;
  border-radius: 5000px 2550px 400px 50px;
}

h2 {
  font-family: Verdana, Helvetica, serif;
  background-color: #c98000;
  color: #BBDDFF;
  text-align: center;
  border-radius: 5000px 2550px 400px 50px;
}

h3 {
  font-family: Verdana, Helvetica, Arial, serif;
  background-color: #c98000;
  text-align: center;
  color: #BBDDFF;
  border-radius: 400px 50px 5000px 5000px;
}

.center {
  border: 5px double red;
  border-radius: 15px 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
